* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    list-style: none;
    border-spacing: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1;
    --cor-background: #F5F5F5;
    --cor-destaque-roxo: #B67FFB;
    --cor-placeholder: #727272;
    --cor-basica-texto: #3E3E3E;
    --cor-inputs: #000;
    --cor-th: #ECE1FB;
    --cor-borda-linhas-tabela: #3E3E3E;
    --cor-botao-hover: rgba(187, 127, 251, 0.8);
}

body {
    background-color: #FFF;
}

main {
    position: relative;
}

.form-cadastro-niver {
    width: 100vw;
    height: 40vh;
    background: var(--cor-background);
}

.container-form {
    height: 100%;
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: center;
}


h1 {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 3rem;
    color: var(--cor-destaque-roxo);
}

h1 span {
    font-size: 2.5rem;
    margin-right: 1rem;
    cursor: default;
}

.form {
    margin-top: 1em;
}

.input,
.input-modal {
    padding: 0.75rem 1.5rem;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 0.85rem;
    border-bottom: 2px solid var(--cor-destaque-roxo);
    color: var(--cor-inputs);
    background: none;
}

.input {
    margin-right: 2rem;
}


.input-nome {
    width: 600px;
}

.input-data {
    width: 175px;
    color: var(--cor-inputs);
    cursor: default;
}

.input-nome:focus,
.input-data:focus,
.input-nome-cadastrado:focus,
.input-data-cadastrada:focus {
    outline: none;
}

.input-nome::placeholder,
.input-data::placeholder,
.input-nome-cadastrado::placeholder {
    color: var(--cor-placeholder);
}

.botao,
.botao-modal {
    background-color: var(--cor-destaque-roxo);
    color: #FFF;
    padding: 0.75rem 2rem;
    border-radius: 10px;
    cursor: pointer;
    transition: filter 0.3s;
}

.botao:hover, .botao-modal:hover {
    filter: brightness(0.9);
}

.tabela-cadastro-niver {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem 0;
}

.tabela-cadastro-niver {
    width: 100vw;
}

.table caption {
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--cor-destaque-roxo);
    font-size: 1.25rem;
    margin-bottom: 2rem;
    width: max-content;
    margin: 0 auto 2rem auto;
}

.tabela-criada {
    display: none;
}

th,
td {
    text-align: center;
}

th {
    font-weight: 600;
    font-size: 0.9rem;
    padding: 0.85rem 8rem;
    color: var(--cor-destaque-roxo);
    background-color: var(--cor-th);
}


td {
    padding: 1rem 8rem;
    font-weight: 500;
    color: var(--cor-basica-texto);
}

tr:hover {
    background-color: var(--cor-background);
}

th:first-child,
td:first-child {
    padding-left: 6rem;
    max-width: 600px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


td:nth-last-child(1) {
    padding: 0 6rem 0 0;
}

td:nth-last-child(2) {
    padding: 0 0 0 6rem;
}

td .bi {
    cursor: pointer;
    font-size: 1.15rem;
    color: var(--cor-basica-texto);
    transition: color 0.3s;
}

td .bi:hover {
    color: var(--cor-destaque-roxo);
}

#span-nenhum-cadastro {
    display: contents;
    color: var(--cor-basica-texto);
    font-weight: 500;
}

.modal {
    visibility: hidden;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal div {
    background-color: var(--cor-background);
    padding: 4rem 5rem;
    border-radius: 10px;
}

h2 {
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--cor-destaque-roxo);
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.icon-fechar-modal {
    color: var(--cor-inputs);
    font-size: 1.25rem;
    cursor: pointer;
    transition: color 0.2s;
}


.icon-fechar-modal:hover {
    color: var(--cor-botao-hover);
}

.form-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-modal {
    margin-bottom: 2rem;
}

.input-nome-cadastrado,
.input-data-cadastrada {
    width: 500px;
}